<div class="row">

    <div class="home pt-5 col-md-7 offset-md-2">

        <h2 class="text-center">
          Learn Git and GitHub without any code!
        </h2>
      
        <p class="text-center offset-1">
          Using the Hello World guide, you’ll create a repository, write comments,
          and open a pull request.
      
        </p>
      </div> 
    </div>
      <div class="row pt-2">
        <div class=" d-flex justify-content-between offset-md-4 offset-2">
            <button class=" btn btn-success p-2 mr-3 "> Read The GuideLine</button>
            <button class=" btn btn-light border p-2 "> Start a project</button>
        </div>
         
      </div>
       
      



